.list {
  padding: 30px;
  list-style: none;
  margin: 5px;
}

@media (max-width: 550px) {
  .list {
    padding: 5px;
    margin-top: 0px;
  }
}

.list__item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 10px;
  border-bottom: 2px solid rgb(241, 240, 241);
  padding: 10px;
  align-items: center;
}

@media (max-width: 550px) {
  .list__item {
    font-size: 12px;
  }
}

.list__item--hidden {
  display: none;
}

.list__button {
  transition: 0.5s;
  width: 30px;
  height: 30px;
  border: none;
  padding: 0;
  color: white;
  cursor: pointer;
}

@media (max-width: 550px) {
  .list__button {
    width: 22px;
    height: 22px;
  }
}

.list__button--toogleDone {
  background-color: rgb(29, 134, 35);
}

.list__button--toogleDone:hover {
  background-color: rgba(29, 134, 35, 0.8);
  color: rgba(29, 134, 35, 0.8);
}

.list__content {
  padding: 0px 20px;
}

@media (max-width: 550px) {
  .list__content {
    padding: 0px 5px;
  }
}

.list__content--done {
  text-decoration: line-through;
}

.list__button--remove {
  background-color: rgb(239, 47, 71);
}

.list__button--remove:hover {
  background-color: rgba(239, 47, 71, 0.8);
}
